.delete-checkBox {
  display: none;
}
body {
  ul {
    li {
      p{
        overflow-wrap: anywhere;
      }
      max-height: 55px;
    }
  }
}

.errorBody{
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: black;
  .Text-H1 {
    color: red;
  }
}